spring:
  application:
    name: sptribs Case API Functional Tests

  main:
    allow-bean-definition-overriding: true
# because functional tests load up SpringBootTest
azure:
  application-insights:
    instrumentation-key: functional-test

test-url: ${TEST_URL:http://localhost:4013}

case-flags:
  supplementary-data:
    hmctsid: ${SUPPLEMENTARY_DATA_HMCTSID:BBA2}
uk:
  gov:
    notify:
      api:
        sptribskey: ${UK_GOV_NOTIFY_API_KEY_1:dummy}
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templatesCIC:
          CASE_CANCEL_HEARING_EMAIL: '56ea62fa-99d0-4341-ac03-4c69732035cc'

s2s:
  name: ccd_data

idam:
  api:
    url: ${IDAM_API_BASEURL:https://idam-api.aat.platform.hmcts.net}
  s2s-auth:
    url: ${TEST_S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:dummy}
    microservice: sptribs_case_api
  solicitor:
    username: ${IDAM_SOLICITOR_USERNAME:dummysolicitor@test.com}
    password: ${IDAM_SOLICITOR_PASSWORD:dummy}
  caseworker:
    username: ${IDAM_CASEWORKER_USERNAME:dummycaseworker@test.com}
    password: ${IDAM_CASEWORKER_PASSWORD:dummy}
  systemupdate:
    username: ${IDAM_SYSTEM_UPDATE_USERNAME:dummysystemupdate@test.com}
    password: ${IDAM_SYSTEM_UPDATE_PASSWORD:dummy}
  citizen:
    username: ${IDAM_CITIZEN_USERNAME:dummycitizen@test.com}
    password: ${IDAM_CITIZEN_PASSWORD:dummy}
  client:
    id: 'sptribs-case-api'
    secret: ${OAUTH2_CLIENT_SECRET:dummy}
    redirect_uri: ${IDAM_API_REDIRECT_URL:http://localhost:3001/oauth2/callback}

s2s-authorised:
  services: ccd_data,sptribs_frontend

location:
  api:
    baseUrl: ${LOCATION_API_URL:http://rd-location-ref-api-aat.service.core-compute-aat.internal}

judicial:
  api:
    baseUrl: ${JUDICIAL_API_URL:http://rd-judicial-api-aat.service.core-compute-aat.internal}

bundling:
  api:
    baseUrl: ${BUNDLING_API_URL:http://em-ccd-orchestrator-aat.service.core-compute-aat.internal}

refdata_common:
  api:
    baseUrl: ${REF_DATA_COMMON_API_URL:http://rd-commondata-api-aat.service.core-compute-aat.internal}

core_case_data:
  api:
    url: ${CASE_DATA_STORE_BASEURL:http://ccd-data-store-api-aat.service.core-compute-aat.internal}
  search:
    page_size: ${CCD_SEARCH_PAGE_SIZE:100}

case-api:
  url: ${CASE_API_DOCUMENT_DOWNLOAD_URL:http://manage-case.demo.platform.hmcts.net/}

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

case_document_am:
  url: ${CASE_DOCUMENT_AM_BASEURL:http://ccd-case-document-am-api-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

SERVICE_AUTH_MICROSERVICE: sptribs_case_api
SERVICE_AUTH_PROVIDER_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal

feature:
  security-classification:
    enabled: ${SECURITY_CLASSIFICATION:false}
  access-profiles:
    enabled: ${ACCESS_PROFILES_ENABLED:true}
  wa:
    enabled: ${WA_FEATURE_ENABLED:false}

caseinfo:
  apps:
    - caseType: CriminalInjuriesCompensation
      jurisdiction: ST_CIC
      eventIds:
        createEvent: citizen-cic-create-dss-application
        updateEvent: citizen-cic-update-dss-application
        updateCaseEvent: citizen-cic-dss-update-case
        submitEvent: citizen-cic-submit-dss-application
      caseTypeOfApplication:
        - CIC

wa_task_monitor_api:
  url: http://wa-task-monitor-aat.service.core-compute-aat.internal
wa_task_management_api:
  url: http://wa-task-management-api-aat.service.core-compute-aat.internal
