spring:
  application:
    name: sptribs Case API Functional Tests

  main:
    allow-bean-definition-overriding: true
# because functional tests load up SpringBootTest
azure:
  application-insights:
    instrumentation-key: functional-test

test-url: ${TEST_URL:http://localhost:4013}

uk:
  gov:
    notify:
      api:
        sptribskey: dummy
        baseUrl: https://api.notifications.service.gov.uk

s2s:
  name: ccd_data

idam:
  api:
    url: ${IDAM_API_BASEURL:https://idam-api.aat.platform.hmcts.net}
  s2s-auth:
    url: ${TEST_S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:dummy}
    microservice: sptribs_case_api
  solicitor:
    username: ${IDAM_SOLICITOR_USERNAME:dummysolicitor@test.com}
    password: ${IDAM_SOLICITOR_PASSWORD:dummy}
  caseworker:
    username: ${IDAM_CASEWORKER_USERNAME:dummycaseworker@test.com}
    password: ${IDAM_CASEWORKER_PASSWORD:dummy}
  systemupdate:
    username: ${IDAM_SYSTEM_UPDATE_USERNAME:dummysystemupdate@test.com}
    password: ${IDAM_SYSTEM_UPDATE_PASSWORD:dummy}

s2s-authorised:
  services: ccd_data

location:
  api:
    baseUrl: ${LOCATION_API_URL:http://rd-location-ref-api-aat.service.core-compute-aat.internal}

judicial:
  api:
    baseUrl: ${JUDICIAL_API_URL:http://rd-judicial-ref-api-aat.service.core-compute-aat.internal}

core_case_data:
  api:
    url: ${CASE_DATA_STORE_BASEURL:http://ccd-data-store-api-aat.service.core-compute-aat.internal}
  search:
    page_size: ${CCD_SEARCH_PAGE_SIZE:100}

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

case_document_am:
  url: ${CASE_DOCUMENT_AM_BASEURL:http://ccd-case-document-am-api-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

SERVICE_AUTH_MICROSERVICE: sptribs_case_api
SERVICE_AUTH_PROVIDER_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal

toggle:
  enable_entitlement_email: ${ENABLE_ENTITLEMENT_EMAIL:true}

