server:
  port: 4013

case-flags:
  supplementary-data:
    hmctsid: ${SUPPLEMENTARY_DATA_HMCTSID:BBA2}
management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  application:
    name: sptribs Case API
  config:
    import: "optional:configtree:/mnt/secrets/sptribs/"
  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

logging:
  level:
    root: info
    web: info

springdoc:
  packagesToScan: uk.gov.hmcts.sptribs,uk.gov.hmcts.ccd.sdk.runtime
  pathsToMatch: /**

azure:
  application-insights:
    instrumentation-key: ${app-insights-instrumentation-key:00000000-0000-0000-0000-000000000000}

uk:
  gov:
    notify:
      api:
        sptribskey: ${UK_GOV_NOTIFY_API_KEY_1:dummy}
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templateVars:
          signInProfessionalUsersUrl: ${NOTIFY_TEMPLATE_SIGN_IN_PROFESSIONAL_USERS_URL:https://manage-case.aat.platform.hmcts.net/cases/case-details/}
          respondentName: 'Appeals Team'
          respondentOrganisation: 'CICA'
          respondentEmail: appeals.team@cica.gov.uk
          tribunalName: 'First-tier Tribunal (CIC)'
          tribunalOrganisation: 'CICA'
          tribunalEmail: CIC.enquiries@justice.gov.uk
        templatesCIC:
          APPLICATION_NEW_ORDER_ISSUED: 'e451a469-e61d-4daf-95c3-e405448ececf'
          APPLICATION_RECEIVED: '5385bfc6-eb33-41f6-ad2b-590a4f427606'
          CASE_REINSTATED_EMAIL: '1f41595f-1ab8-4e41-a240-026c61ecd852'
          CASE_REINSTATED_POST: '313e8992-8538-4485-a461-a244cc893bb3'
          CASE_STAYED_EMAIL: 'ce3e6749-0400-47fd-aa96-33e348c860ad'
          CASE_STAYED_POST: '23e1153e-c95c-4630-83eb-b0a272908e94'
          CASE_UNLINKED_EMAIL: 'e19b7d26-2a5b-4275-ae40-f0309f6a30ff'
          CASE_UNLINKED_POST: 'c6703270-58d1-40bf-aca0-b968356fe952'
          CASE_UNSTAYED_EMAIL: '46f69c0d-5114-4319-a8e0-dd2cad1ecac4'
          CASE_UNSTAYED_POST: 'a3c51a6e-b686-4ade-af32-fd62cc0d7451'
          DECISION_ISSUED_EMAIL: 'e8edb80a-6924-4247-aa33-178c28251120'
          DECISION_ISSUED_POST: 'ae833f41-30da-48bb-8384-e832a244abb9'
          CONTACT_PARTIES_EMAIL: '02722db0-2f62-46f8-bdcc-46e891ab9a31'
          CONTACT_PARTIES_POST: '59ac1cb3-7c19-4993-945b-5cd331e12feb'
          TEST_TEMPLATE: '8d20e578-21cd-42b8-b27f-d13095e499d6'
          CASE_ISSUED_CITIZEN_EMAIL: '3f25663d-9f3f-4330-afdb-3302399d29cf'
          CASE_ISSUED_CITIZEN_POST: 'eedc916f-088f-4653-99ed-b954e1dbd58d'
          CASE_ISSUED_RESPONDENT_EMAIL: '65df6386-bf56-498b-a877-e8fd896515d4'
          CASE_FINAL_DECISION_ISSUED_EMAIL: 'cd2236a1-048a-4561-8cab-288ca1be207e'
          CASE_FINAL_DECISION_ISSUED_POST: 'e968c49e-7510-4997-8f6f-8d13421d4f98'
          LISTING_UPDATED_CITIZEN_EMAIL: 'cede09ba-0575-4fc6-97d3-af5814753cd8'
          LISTING_UPDATED_CITIZEN_POST: '4c713489-bab5-4336-8452-0feb79deec65'
          LISTING_CREATED_CITIZEN_EMAIL: '7583d36c-a03d-4ff8-ae45-206d2083caa2'
          LISTING_CREATED_CITIZEN_POST: '6b01b3fd-195e-4266-bfaf-ba028ccb4faa'
          CASE_CANCEL_HEARING_EMAIL: '56ea62fa-99d0-4341-ac03-4c69732035cc'
          CASE_CANCEL_HEARING_POST: '2663b564-c361-420b-a227-c470e6be0703'
          HEARING_POSTPONED_EMAIL: '6c1ac2dc-cb6a-4e30-ba2f-3e658a57de0a'
          HEARING_POSTPONED_POST: 'b8a6e858-6e2a-4222-a071-33348bb7fed6'
          CASE_WITHDRAWN_EMAIL: '12985936-b067-4747-aae6-83a375e8295e'
          CASE_WITHDRAWN_POST: '54fe1990-2213-4bcb-9027-7b595cd9db12'
          NEW_ORDER_ISSUED_EMAIL: 'e451a469-e61d-4daf-95c3-e405448ececf'
          NEW_ORDER_ISSUED_POST: '797e62bd-a1d4-4a6a-b15d-ddd642d2b14b'
          CASE_LINKED_EMAIL: '8af9efba-9861-4663-8305-0a378def1e46'
          CASE_LINKED_POST: 'd69207af-ed64-4a60-b0a3-224d429d8b17'
          UPDATE_RECEIVED_CITIZEN: 'ada9b776-877b-4bf4-9093-d814f9a18d43'
          UPDATE_RECEIVED_CASEWORKER: '69034ba0-ed92-479f-822e-a4103cc1b6c6'

        templates:
          english:
            SAVE_SIGN_OUT: '3aff9dc0-0188-42f6-a0be-fc5daa404d9a'

s2s-authorised:
  services: ${S2S_AUTHORISED_SERVICES:ccd_data,sptribs_frontend,sptribs_dss_update_case_web}

idam:
  s2s-auth:
    url: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    microservice: sptribs_case_api
  api:
    url: ${IDAM_API_BASEURL:http://localhost:5000}
  client:
    id: ${IDAM_CLIENT_ID:sptribs-case-api}
    redirect_uri: ${IDAM_CLIENT_REDIRECT_URI:http://localhost:3001/receiver}
    secret: ${IDAM_CLIENT_SECRET:thUphEveC2Ekuqedaneh4jEcRuba4t2t}

  systemupdate:
    username: ${IDAM_SYSTEM_UPDATE_USERNAME:st-test1@mailinator.com}
    password: ${IDAM_SYSTEM_UPDATE_PASSWORD:Pa55w0rd11}

location:
  api:
    baseUrl: ${LOCATION_API_URL:http://rd-location-ref-api-aat.service.core-compute-aat.internal}

judicial:
  api:
    baseUrl: ${JUDICIAL_API_URL:http://rd-judicial-api-aat.service.core-compute-aat.internal}

bundling:
  api:
    baseUrl: ${BUNDLING_API_URL:http://em-ccd-orchestrator-aat.service.core-compute-aat.internal}

s2s:
  stub: false

launchDarkly:
  sdk-key: ${LAUNCH_DARKLY_SDK_KEY:}
  env: ${ENVIRONMENT:local}
core_case_data:
  api:
    url: ${CASE_DATA_STORE_BASEURL:http://ccd-data-store-api-aat.service.core-compute-aat.internal}
  search:
    page_size: ${CCD_SEARCH_PAGE_SIZE:250}

docmosis:
  templates:
    english:
      ST-CIC-DEC-ENG-CIC1_Eligibility: ST-CIC-DEC-ENG-CIC1_Eligibility.docx
      ST-CIC-DEC-ENG-CIC2_Quantum: ST-CIC-DEC-ENG-CIC2_Quantum.docx
      ST-CIC-DEC-ENG-CIC3_Rule_27: ST-CIC-DEC-ENG-CIC3_Rule_27.docx
      ST-CIC-DEC-ENG-CIC4_Blank_Decision_Notice: ST-CIC-DEC-ENG-CIC4_Blank_Decision_Notice.docx
      ST-CIC-DEC-ENG-CIC11_Strike_Out_Decision_Notice: ST-CIC-DEC-ENG-CIC11_Strike_Out_Decision_Notice.docx
      ST-CIC-DEC-ENG-CIC12_Decision_Annex: ST-CIC-DEC-ENG-CIC12_Decision_Annex.docx
      ST-CIC-DEC-ENG-CIC6_General_Directions: ST-CIC-DEC-ENG-CIC6_General_Directions.docx
      ST-CIC-DEC-ENG-CIC7_ME_Dmi_Reports: ST-CIC-DEC-ENG-CIC7_ME_Dmi_Reports.docx
      ST-CIC-DEC-ENG-CIC8_ME_Joint_Instruction: ST-CIC-DEC-ENG-CIC8_ME_Joint_Instruction.docx
      ST-CIC-DEC-ENG-CIC10_Strike_Out_Warning: ST-CIC-DEC-ENG-CIC10_Strike_Out_Warning.docx
      ST-CIC-DEC-ENG-CIC13_Pro_Forma_Summons: ST-CIC-DEC-ENG-CIC13_Pro_Forma_Summons.docx
      CIC6_General_Directions: ST-CIC-STD-ENG-CIC6_General_Directions.docx
      CIC7_ME_Dmi_Reports: ST-CIC-STD-ENG-CIC7_ME_Dmi_Reports.docx
      CIC8_ME_Joint_Instruction: ST-CIC-STD-ENG-CIC8_ME_Joint_Instruction.docx
      CIC10_Strike_Out_Warning: ST-CIC-STD-ENG-CIC10_Strike_Out_Warning.docx
      CIC13_Pro_Forma_Summons: ST-CIC-STD-ENG-CIC13_Pro_Forma_Summons.docx
      CIC14_LO_General_Directions: ST-CIC-STD-ENG-CIC14_Legal_Officer_General_Directions.docx
      CIC3_Rule_27: ST-CIC-STD-ENG-CIC3_Rule_27.docx


case-api:
  url: ${CASE_API_DOCUMENT_DOWNLOAD_URL:http://manage-case.demo.platform.hmcts.net/}

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

case_document_am:
  url: ${CASE_DOCUMENT_AM_BASEURL:http://ccd-case-document-am-api-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

court:
  locations:
    serviceCentre:
      serviceCentreName: 'Courts and Tribunals Service Centre'
      centreName: 'HMCTS Special Tribunals'
      town: 'Harlow'
      poBox: 'PO Box 13226'
      postCode: 'CM20 9UG'
      email: 'ciccase@justice.gov.uk'
      phoneNumber: '0300 303 0642'

SERVICE_AUTH_MICROSERVICE: sptribs_case_api

feature:
  security-classification:
    enabled: ${SECURITY_CLASSIFICATION:true}
  update-case:
    enabled: ${DSS_UPDATE_CASE_ENABLED:true}

caseinfo:
  apps:
    - caseType: CriminalInjuriesCompensation
      jurisdiction: ST_CIC
      eventIds:
        createEvent: citizen-cic-create-dss-application
        updateEvent: citizen-cic-update-dss-application
        updateCaseEvent: citizen-cic-dss-update-case
        submitEvent: citizen-cic-submit-dss-application
      caseTypeOfApplication:
        - CIC
