server:
  port: 4013

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  application:
    name: sptribs Case API
  config:
    import: "optional:configtree:/mnt/secrets/sptribs/"
  main:
    allow-bean-definition-overriding: true

springdoc:
  packagesToScan: uk.gov.hmcts.sptribs,uk.gov.hmcts.ccd.sdk.runtime
  pathsToMatch: /**

azure:
  application-insights:
    instrumentation-key: ${app-insights-instrumentation-key:00000000-0000-0000-0000-000000000000}

uk:
  gov:
    notify:
      api:
        sptribskey: ${UK_GOV_NOTIFY_API_KEY_1:dummy}
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templateVars:
          signInProfessionalUsersUrl: ${NOTIFY_TEMPLATE_SIGN_IN_PROFESSIONAL_USERS_URL:https://manage-case.aat.platform.hmcts.net/cases/case-details/}
          respondentName: 'Appeals Team'
          respondentOrganisation: 'CICA'
          respondentEmail: appeals.team@cica.gov.uk
        templatesCIC:
          APPLICATION_NEW_ORDER_ISSUED: 'e451a469-e61d-4daf-95c3-e405448ececf'
          APPLICATION_RECEIVED: '5385bfc6-eb33-41f6-ad2b-590a4f427606'
          CASE_REINSTATED_EMAIL: '1f41595f-1ab8-4e41-a240-026c61ecd852'
          CASE_REINSTATED_POST: '313e8992-8538-4485-a461-a244cc893bb3'
          CASE_STAYED_EMAIL: 'ce3e6749-0400-47fd-aa96-33e348c860ad'
          CASE_STAYED_POST: '23e1153e-c95c-4630-83eb-b0a272908e94'
          CASE_UNSTAYED_EMAIL: '46f69c0d-5114-4319-a8e0-dd2cad1ecac4'
          CASE_UNSTAYED_POST: 'a3c51a6e-b686-4ade-af32-fd62cc0d7451'
          DECISION_ISSUED_EMAIL: 'e8edb80a-6924-4247-aa33-178c28251120'
          DECISION_ISSUED_POST: 'ae833f41-30da-48bb-8384-e832a244abb9'
          TEST_TEMPLATE: '8d20e578-21cd-42b8-b27f-d13095e499d6'
          CASE_ISSUED_CITIZEN_EMAIL: '3f25663d-9f3f-4330-afdb-3302399d29cf'
          CASE_ISSUED_CITIZEN_POST: 'eedc916f-088f-4653-99ed-b954e1dbd58d'
          CASE_ISSUED_RESPONDENT_EMAIL: '65df6386-bf56-498b-a877-e8fd896515d4'
          LISTING_UPDATED_CITIZEN_EMAIL: 'cede09ba-0575-4fc6-97d3-af5814753cd8'
          LISTING_UPDATED_CITIZEN_POST: '4c713489-bab5-4336-8452-0feb79deec65'
          LISTING_CREATED_CITIZEN_EMAIL: '7583d36c-a03d-4ff8-ae45-206d2083caa2'
          LISTING_CREATED_CITIZEN_POST: '6b01b3fd-195e-4266-bfaf-ba028ccb4faa'
          CASE_CANCEL_HEARING_EMAIL: '56ea62fa-99d0-4341-ac03-4c69732035cc'
          CASE_CANCEL_HEARING_POST: '2663b564-c361-420b-a227-c470e6be0703'
        templates:
          english:
            SAVE_SIGN_OUT: '3aff9dc0-0188-42f6-a0be-fc5daa404d9a'

s2s-authorised:
  services: ${S2S_AUTHORISED_SERVICES:ccd_data}

idam:
  s2s-auth:
    url: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    microservice: sptribs_case_api
  api:
    url: ${IDAM_API_BASEURL:http://localhost:5000}
  systemupdate:
    username: ${IDAM_SYSTEM_UPDATE_USERNAME:dummysystemupdate@test.com}
    password: ${IDAM_SYSTEM_UPDATE_PASSWORD:dummy}

location:
  api:
    baseUrl: ${LOCATION_API_URL:http://rd-location-ref-api-aat.service.core-compute-aat.internal}

judicial:
  api:
    baseUrl: ${JUDICIAL_API_URL:http://rd-judicial-api-aat.service.core-compute-aat.internal}

s2s:
  stub: false

launchDarkly:
  sdk-key: ${LAUNCH_DARKLY_SDK_KEY:}
  env: ${ENVIRONMENT:local}
core_case_data:
  api:
    url: ${CASE_DATA_STORE_BASEURL:http://ccd-data-store-api-aat.service.core-compute-aat.internal}
  search:
    page_size: ${CCD_SEARCH_PAGE_SIZE:100}

docmosis:
  templates:
    english:
      CIC6_General_Directions: ST-CIC-STD-ENG-CIC6_General_Directions.docx
    welsh:
      #TO DO-below template name needs to be removed from here once some other template for sp-tribs is in place here, left for keeping structure.
      DIVORCE_APPLICATION_SOLE: ${DIVORCE_APPLICATION_SOLE_WELSH_TEMPLATE_ID:NFD_CP_Application_Sole_V5.docx}
  templateVars:
    #TO DO-below template var needs to be removed from here once some other template var for sp-tribs is in place here, left for keeping structure.
    applicant2SignInDivorceUrl: ${NOTIFY_TEMPLATE_APPLICANT2_SIGN_IN_DIVORCE_URL:https://sptribs-apply-for-divorce.aat.platform.hmcts.net/applicant2}

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

case_document_am:
  url: ${CASE_DOCUMENT_AM_BASEURL:http://ccd-case-document-am-api-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

court:
  locations:
    serviceCentre:
      serviceCentreName: 'Courts and Tribunals Service Centre'
      centreName: 'HMCTS Special Tribunals'
      town: 'Harlow'
      poBox: 'PO Box 13226'
      postCode: 'CM20 9UG'
      email: 'ciccase@justice.gov.uk'
      phoneNumber: '0300 303 0642'

SERVICE_AUTH_MICROSERVICE: sptribs_case_api

toggle:
  enable_entitlement_email: ${ENABLE_ENTITLEMENT_EMAIL:true}
