server:
  port: 4013

case-flags:
  supplementary-data:
    hmctsid: ${SUPPLEMENTARY_DATA_HMCTSID:BBA2}

management:
  health:
    elasticsearch:
      enabled: false
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  application:
    name: sptribs Case API
  config:
    import: "optional:configtree:/mnt/secrets/sptribs/"
  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:6432}/${POSTGRES_NAME:sptribs}${POSTGRES_CONNECTION_OPTIONS:}
    username: ${POSTGRES_USERNAME:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
  jms:
    servicebus:
      enabled: true
      connection-string: ${AZURE_SERVICE_BUS_CONNECTION_STRING:${AZURE_SERVICE_BUS_PREVIEW_CONNECTION_STRING:dummy}}
      pricing-tier: standard
      pool:
        enabled: true
  cloud:
    azure:
      credential:
        managed-identity-enabled: true
        client-id: 34df67df-77f4-4c8d-9e89-d59a86ef9ffe
  autoconfigure:
    exclude: com.azure.spring.cloud.autoconfigure.implementation.context.AzureTokenCredentialAutoConfiguration
logging:
  level:
    root: info
    web: info

springdoc:
  packagesToScan: uk.gov.hmcts.sptribs,uk.gov.hmcts.ccd.sdk.runtime
  pathsToMatch: /**

azure:
  application-insights:
    instrumentation-key: ${app-insights-instrumentation-key:00000000-0000-0000-0000-000000000000}

ccd:
  servicebus:
    destination: ${CCD_SERVICEBUS_DESTINATION:${AZURE_SERVICE_BUS_TOPIC_NAME:ccd-case-events-aat}}
    scheduler-enabled: ${SPTRIBS_SERVICEBUS_SCHEDULER_ENABLED:true}
    batch-size: ${SPTRIBS_SERVICEBUS_BATCH_SIZE:50}
    published-retention-days: ${SPTRIBS_SERVICEBUS_PUBLISHED_RETENTION_DAYS:7}
    schedule: ${SPTRIBS_SERVICEBUS_SCHEDULE:*/10 * * * * *}
pdf:
  api:
    url: ${PDF_API_URL:http://localhost:5500}

uk:
  gov:
    notify:
      api:
        sptribskey: ${UK_GOV_NOTIFY_API_KEY_1:dummy}
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templateVars:
          signInProfessionalUsersUrl: ${NOTIFY_TEMPLATE_SIGN_IN_PROFESSIONAL_USERS_URL:https://manage-case.aat.platform.hmcts.net/cases/case-details/}
          respondentName: 'Appeals Team'
          respondentOrganisation: 'CICA'
          respondentEmail: appeals.team@cica.gov.uk
          tribunalName: 'First-tier Tribunal (CIC)'
          tribunalOrganisation: 'CICA'
          tribunalEmail: CIC.enquiries@justice.gov.uk
        templatesCIC:
          APPLICATION_RECEIVED: '48ccf890-0550-48ca-8c52-fa68cec09947'
          APPLICATION_RECEIVED_CY: '86e6988c-dfc8-43de-8890-e38269ee40d1'
          CASE_ISSUED_CITIZEN_EMAIL: '03a0bbaa-10ee-4304-a1b1-6fdf76a2fd69'
          CASE_ISSUED_CITIZEN_POST: 'eedc916f-088f-4653-99ed-b954e1dbd58d'
          CASE_ISSUED_RESPONDENT_EMAIL: 'd90a4a2d-1406-48d3-a319-924cc8f67d5e'
          CASE_LINKED_EMAIL: '14633cea-db23-4a44-a477-3f3b37202b72'
          CASE_LINKED_POST: 'd69207af-ed64-4a60-b0a3-224d429d8b17'
          CASE_STAYED_EMAIL: '474266c4-f583-43b6-b464-3faad6567037'#
          CASE_STAYED_POST: '23e1153e-c95c-4630-83eb-b0a272908e94'
          CASE_UNLINKED_EMAIL: '950c25ec-f70b-4279-b6ab-1231ccfed74e'
          CASE_UNLINKED_POST: 'c6703270-58d1-40bf-aca0-b968356fe952'
          CASE_UNSTAYED_EMAIL: '8bd8996a-51ec-4601-ae06-f9fdf38def97'
          CASE_UNSTAYED_POST: 'a3c51a6e-b686-4ade-af32-fd62cc0d7451'
          CASE_WITHDRAWN_EMAIL: '9b2df887-745d-49d6-ac98-02a081e642e1'
          CASE_WITHDRAWN_POST: '54fe1990-2213-4bcb-9027-7b595cd9db12'
          CONTACT_PARTIES_EMAIL: '1117ab2d-34d9-46d3-af7e-efcc380408c0'
          CONTACT_PARTIES_POST: '59ac1cb3-7c19-4993-945b-5cd331e12feb'
          DECISION_ISSUED_EMAIL: '968c589d-f375-4a42-8c6f-3a7fb70f69de'
          DECISION_ISSUED_POST: 'ae833f41-30da-48bb-8384-e832a244abb9'
          FINAL_DECISION_ISSUED_EMAIL: '9e0a6a4f-96a0-4dbb-b6bd-ca31ee9b63b9'
          FINAL_DECISION_ISSUED_POST: 'e968c49e-7510-4997-8f6f-8d13421d4f98'
          HEARING_CANCELLED_EMAIL: '8e8bcf9f-aa29-4154-8030-c796429a29b6'
          HEARING_CANCELLED_POST: '2663b564-c361-420b-a227-c470e6be0703'
          HEARING_CREATED_EMAIL: 'de4145f9-6b97-429f-afa2-7ccc50287523'
          HEARING_CREATED_POST: '6b01b3fd-195e-4266-bfaf-ba028ccb4faa'
          HEARING_POSTPONED_EMAIL: '607f1bdc-5276-472d-ae1c-e4e0f6c8d71c'
          HEARING_POSTPONED_POST: 'b8a6e858-6e2a-4222-a071-33348bb7fed6'
          HEARING_UPDATED_EMAIL: '96fe38c3-95e1-4db4-8d4d-2723b39c7ef2'
          HEARING_UPDATED_POST: '4c713489-bab5-4336-8452-0feb79deec65'
          NEW_ORDER_ISSUED_EMAIL: 'fa64c351-da53-489f-aa87-6dc584fbf3c4'
          NEW_ORDER_ISSUED_POST: '797e62bd-a1d4-4a6a-b15d-ddd642d2b14b'
          REINSTATED_EMAIL: '48e9f839-82e5-451c-a9bc-16269daf6561'
          REINSTATED_POST: '313e8992-8538-4485-a461-a244cc893bb3'
          UPDATE_RECEIVED_CIC: '714dbecf-256e-4a8e-a5ba-4b98eff2ef93'
          UPDATE_RECEIVED: 'e4502ad3-df49-46d0-87da-3715d82df7d4'
          TEST_TEMPLATE: 'c0ca771f-21f0-41e6-ab31-cd493358ce5c'

        templates:
          english:
            SAVE_SIGN_OUT: '3aff9dc0-0188-42f6-a0be-fc5daa404d9a'

s2s-authorised:
  services: ${S2S_AUTHORISED_SERVICES:ccd_data,sptribs_frontend,sptribs_dss_update_case_web}

idam:
  s2s-auth:
    url: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    microservice: sptribs_case_api
  api:
    url: ${IDAM_API_BASEURL:http://localhost:5000}
  client:
    id: ${IDAM_CLIENT_ID:sptribs-case-api}
    redirect_uri: ${IDAM_CLIENT_REDIRECT_URI:http://localhost:3001/receiver}
    secret: ${IDAM_CLIENT_SECRET:thUphEveC2Ekuqedaneh4jEcRuba4t2t}
  systemupdate:
    username: ${IDAM_SYSTEM_UPDATE_USERNAME:st-test1@mailinator.com}
    password: ${IDAM_SYSTEM_UPDATE_PASSWORD:Pa55w0rd11}

location:
  api:
    baseUrl: ${LOCATION_API_URL:http://rd-location-ref-api-aat.service.core-compute-aat.internal}

judicial:
  api:
    baseUrl: ${JUDICIAL_API_URL:http://rd-judicial-api-aat.service.core-compute-aat.internal}
    usersPageSize: ${JUDICIAL_USERS_PAGE_SIZE:200}

bundling:
  api:
    baseUrl: ${BUNDLING_API_URL:http://em-ccd-orchestrator-aat.service.core-compute-aat.internal}

s2s:
  stub: false

launchDarkly:
  sdk-key: ${LAUNCH_DARKLY_SDK_KEY:}
  env: ${ENVIRONMENT:local}

core_case_data:
  api:
    url: ${CASE_DATA_STORE_BASEURL:http://ccd-data-store-api-aat.service.core-compute-aat.internal}
  search:
    page_size: ${CCD_SEARCH_PAGE_SIZE:250}

docmosis:
  templates:
    english:
      ST-CIC-DEC-ENG-CIC1_Eligibility: ST-CIC-DEC-ENG-CIC1_Eligibility.docx
      ST-CIC-DEC-ENG-CIC2_Quantum: ST-CIC-DEC-ENG-CIC2_Quantum.docx
      ST-CIC-DEC-ENG-CIC3_Rule_27: ST-CIC-DEC-ENG-CIC3_Rule_27.docx
      ST-CIC-DEC-ENG-CIC4_Blank_Decision_Notice: ST-CIC-DEC-ENG-CIC4_Blank_Decision_Notice.docx
      ST-CIC-DEC-ENG-CIC11_Strike_Out_Decision_Notice: ST-CIC-DEC-ENG-CIC11_Strike_Out_Decision_Notice.docx
      ST-CIC-DEC-ENG-CIC12_Decision_Annex: ST-CIC-DEC-ENG-CIC12_Decision_Annex.docx
      ST-CIC-DEC-ENG-CIC6_General_Directions: ST-CIC-DEC-ENG-CIC6_General_Directions.docx
      ST-CIC-DEC-ENG-CIC7_ME_Dmi_Reports: ST-CIC-DEC-ENG-CIC7_ME_Dmi_Reports.docx
      ST-CIC-DEC-ENG-CIC8_ME_Joint_Instruction: ST-CIC-DEC-ENG-CIC8_ME_Joint_Instruction.docx
      ST-CIC-DEC-ENG-CIC10_Strike_Out_Warning: ST-CIC-DEC-ENG-CIC10_Strike_Out_Warning.docx
      ST-CIC-DEC-ENG-CIC13_Pro_Forma_Summons: ST-CIC-DEC-ENG-CIC13_Pro_Forma_Summons.docx
      CIC6_General_Directions: ST-CIC-STD-ENG-CIC6_General_Directions.docx
      CIC7_ME_Dmi_Reports: ST-CIC-STD-ENG-CIC7_ME_Dmi_Reports.docx
      CIC8_ME_Joint_Instruction: ST-CIC-STD-ENG-CIC8_ME_Joint_Instruction.docx
      CIC10_Strike_Out_Warning: ST-CIC-STD-ENG-CIC10_Strike_Out_Warning.docx
      CIC13_Pro_Forma_Summons: ST-CIC-STD-ENG-CIC13_Pro_Forma_Summons.docx
      CIC14_LO_General_Directions: ST-CIC-STD-ENG-CIC14_Legal_Officer_General_Directions.docx
      CIC3_Rule_27: ST-CIC-STD-ENG-CIC3_Rule_27.docx


case-api:
  url: ${CASE_API_DOCUMENT_DOWNLOAD_URL:http://manage-case.demo.platform.hmcts.net/}

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

case_document_am:
  url: ${CASE_DOCUMENT_AM_BASEURL:http://ccd-case-document-am-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

court:
  locations:
    serviceCentre:
      serviceCentreName: 'Courts and Tribunals Service Centre'
      centreName: 'HMCTS Special Tribunals'
      town: 'Harlow'
      poBox: 'PO Box 13226'
      postCode: 'CM20 9UG'
      email: 'ciccase@justice.gov.uk'
      phoneNumber: '0300 303 0642'

feature:
  security-classification:
    enabled: ${SECURITY_CLASSIFICATION:true}
  wa:
    functional-tests-enabled: ${WA_FUNCTIONAL_TESTS_ENABLED:false}
  migrate-global-search-task:
    enabled: ${GLOBAL_SEARCH_MIGRATION_ENABLED:false}
    caseReference: ${GLOBAL_SEARCH_MIGRATION_TEST_CASE_REF:}

caseinfo:
  apps:
    - caseType: CriminalInjuriesCompensation
      jurisdiction: ST_CIC
      eventIds:
        createEvent: citizen-cic-create-dss-application
        updateEvent: citizen-cic-update-dss-application
        updateCaseEvent: citizen-cic-dss-update-case
        submitEvent: citizen-cic-submit-dss-application
      caseTypeOfApplication:
        - CIC

wa_task_monitor_api:
  url: ${TASK_MONITOR_API_URL:http://wa-task-monitor-aat.service.core-compute-aat.internal}
wa_task_management_api:
  url: ${TASK_MANAGEMENT_API_URL:http://wa-task-management-api-aat.service.core-compute-aat.internal}


