spring:
  main:
    allow-bean-definition-overriding: true
  messages:
    encoding: ISO-8859-1

springdoc:
  packagesToScan: uk.gov.hmcts.sptribs,uk.gov.hmcts.ccd.sdk.runtime
  pathsToMatch: /**

uk:
  gov:
    notify:
      api:
        sptribskey: dummy
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templateVars:
          signInProfessionalUsersUrl: ${NOTIFY_TEMPLATE_SIGN_IN_PROFESSIONAL_USERS_URL:https://manage-case.aat.platform.hmcts.net/cases/case-details/}
        templates:
          english:
            SAVE_SIGN_OUT: '70dd0a1e-047f-4baa-993a-e722db17d8ac'
          welsh:
            SAVE_SIGN_OUT: '70dd0a1e-047f-4baa-993a-e722db17d8ac'

idam:lea
  s2s-auth:
    url: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    secret: AAAAAAAAAAAAAAAA
    microservice: sptribs_case_api
  api:
    url: http://localhost:5000
  systemupdate:
    username: dummy@test.com
    password: dummy

s2s-authorised:
  services: ccd_data

location:
  api:
    baseUrl: ${LOCATION_API_URL:http://rd-location-ref-api-aat.service.core-compute-aat.internal}

judicial:
  api:
    baseUrl: ${JUDICIAL_API_URL:http://rd-judicial-api-aat.service.core-compute-aat.internal}

s2s:
  stub: true

core_case_data:
  api:
    url: http://localhost:4012
  search:
    page_size: 100

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

case_document_am:
  url: ${CASE_DOCUMENT_AM_BASEURL:http://ccd-case-document-am-api-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

court:
  locations:
    serviceCentre:
      serviceCentreName: 'Courts and Tribunals Service Centre'
      centreName: 'HMCTS Special Tribunals'
      town: 'Harlow'
      poBox: 'PO Box 13226'
      postCode: 'CM20 9UG'
      email: 'ciccase@justice.gov.uk'
      phoneNumber: '0300 303 0642'

SERVICE_AUTH_MICROSERVICE: sptribs_case_api

toggle:
  enable_entitlement_email: ${ENABLE_ENTITLEMENT_EMAIL:true}
